body {
    background-color: rgb(90, 190, 221);
}

header {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 1.0em;
    vertical-align: middle;
}
