body {
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 1.5em;
    color: black;
}

.main {
    width: 770px;
    margin: 15px auto;
    text-align: left;
}

.navegadorProx {
    height: 100px;
    width: 770px;
    background-color: rgb(218, 110, 110);
    display: flex;
    align-items: center;
    background-image: url("imagenes/cabecera.jpg");
}

.princp {
    width: 380px;
    height: 800px;
    background-color: rgb(110, 218, 115);
    position: relative;
    float: left;
    display: block;
}

.secun {
    width: 260px;
    height: 800px;
    background-color: rgb(203, 223, 88);
    position: relative;
    float:left;
    align-content: center;
    text-align: center;
}

.terc {
    width: 130px;
    height: 800px;
    background-color: rgb(190, 130, 61);
    position: relative;
    float:left;
    text-align: center;
}

.pie {
    height: 100px;
    width: 770px;
    background-color: rgb(110, 211, 218);
}

.center {
    text-align: center;
}

.left {
    clear: left;
}

#tabla {
    margin: auto;
    text-align: center;
}

#enlaceF {
    margin: 20px;
}

#textoPrincipal, #enlaceM {
    text-align: center;
    height: 70px;
    width: 360px;
    margin-left: 8px;
    display: block;
    word-wrap: break-word;
}

#enlaceM {margin-top: .5em; margin-bottom: .5em; height: 30px; border: solid 2px black}

#enlace1:hover {
    cursor: pointer;
    color: red;}

#enlace1:visited:hover {
    cursor: pointer;
    color: blue;
    text-align: center;}

#enlaceF:hover {
    cursor: pointer;
    color: red;}

#enlaceT:hover {
    cursor: pointer;
    color: red;}

#enlaceT:visited:hover {
    cursor: pointer;
    color: blue;
    text-align: center;}

#enlaceF:visited:hover {
    cursor: pointer;
    color: blue;}

#enlaceF {
    color: green;
}

#navegador ul{
    list-style-type: none;
    text-align: center;
 }

#navegador li{
    display: inline;
    text-align: center;
}

#navegador li a {
    padding: 2px 25px 2px 20px;
    color: rgb(0, 0, 0);
    background-color: #fd7b7b;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 11.2px;
    text-decoration: none;
}

#espacio {
    height: 20px;
    width: 770px;
    margin: auto;
}